.order-summary {
    box-shadow: -1px 2px 6px 0;
    padding: 12px;
}

.card {
    box-shadow: 1px 2px 4px 0;
}

textarea{
    min-height: 4px!important;
}

.card-header h5,
.card-header i {
    color: #212529;
}

.payment-method {
    cursor: pointer;
}

.payment-method.selected {
    background-color: #030629;
}

.payment-method.selected h6 {
    color: #fff;
}

.payment-method.selected svg {
    fill: #fff;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #030629;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked::before {
    content: '✓';
    position: absolute;
    top: -8px;
    left: 2px;
    color: #030629;
    font-size: 18px;
}